version: "3"

services:
  checkups-database:
    image: "postgres:13-alpine"
    ports:
      - "5432:5432"
    volumes:
      - "checkups-data:/var/lib/postgresql/data"
    environment:
      - "POSTGRES_USER=admin"
      - "POSTGRES_PASSWORD=admin"
      - "POSTGRES_DB=checkups-db"
volumes:
  checkups-data:

#naredba:
# docker run --name checkups-database -e POSTGRES_PASSWORD=admin -e POSTGRES_USER=admin -e POSTGRES_DB=checkups-db -p 5432:5432 -v checkups-data:/var/lib/postgresql/data postgres
